version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rental_bot_strapi
    restart: always
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      DATABASE_URL: ${DATABASE_URL}
      PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - bot_network

networks:
  bot_network:
    driver: bridge
